@use "../../02-variables/palette";


#cms-data-panel-holder .cms-data-panel::-webkit-scrollbar, .toc-container::-webkit-scrollbar {
  height:8px;
  width: 12px;
  border-radius: 4px;
}

#cms-data-panel-holder .cms-data-panel::-webkit-scrollbar-track, .toc-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 18px palette.$Neutral-800;
}

#cms-data-panel-holder .cms-data-panel::-webkit-scrollbar-thumb, .toc-container::-webkit-scrollbar-thumb {
  background-color:  palette.$Primary-400; // $plugin-json-cms-mediumgray;
  outline: 1px solid palette.$Primary-300; //$plugin-json-cms-slategray;

}
