<button
  id="btn-user-profile"
  data-type="auth0"
  data-event-type="toggleProfile"
  data-is-gated="false"
  class="user-icon"
>
  <img width="20" src="{{picture}}" alt="" />
</button>

<div class="user-content">
  <div class="user-content-items">
    <img class="user-content-thumb" src="{{picture}}" alt="" />
    <p class="user-content-name">{{name}}</p>

<!--    <div class="auth-view-apps-list-container">
      <p class="auth-list-apps-title">SpyneJS Apps</p>
    </div>-->
  </div>

<!--  <button
    id="logout"
    class="blue-border"
    data-type="auth0"
    data-event-type="logout"
  >
    LOGOUT
  </button>-->
</div>
