
#placeholder{
  position: relative;
  display: flex;
  align-items: center;;

  #placeholder-page{
    position: relative;
    max-width: 1920px;
    width: 100vw;
    height: 100vh;
   // padding: 2rem;
    background: $Neutral-200;


  }





}



