<div class="controls-holder">
    <div class="ctrls controls-left container-cms">
        <button class="cms-data-panel-btn dragger container-cms">
            <span class="material-symbols-outlined">drag_indicator</span>
        </button>
        <button class="toggle">
        <span class="material-symbols-outlined">arrow_right</span>
        </button>
    </div>
    <div class="ctrls controls-right">
<!--        <button>
            <span class="material-symbols-outlined">add</span>
        </button>-->
        <button class="cms-data-panel-btn expand">
        <span class="material-symbols-outlined">more_horiz</span>
        </button>
    <!--    <button>
        <span class="material-symbols-outlined">clear</span>
        </button>-->
    </div>
</div>
