<div class="controls-holder">
    <div class="ctrls controls-left container-cms">
        <button class="cms-data-panel-btn dragger container-cms">
            <span class="material-icons">drag_indicator</span>
        </button>
        <button class="toggle">
        <span class="material-icons">arrow_right</span>
        </button>
    </div>
    <div class="ctrls controls-right">
<!--        <button>
            <span class="material-icons">add</span>
        </button>-->
        <button class="cms-data-panel-btn expand">
        <span class="material-icons">more_horiz</span>
        </button>
    <!--    <button>
        <span class="material-icons">clear</span>
        </button>-->
    </div>
</div>
