<div class="controls-holder">
    <div class="ctrls controls-left">
        <button class="cms-data-panel-btn dragger" data-type="dragger"   data-property-id="{{vsid}}">
            <span class="material-symbols-outlined">drag_indicator</span>
        </button>
    </div>
    <div class="ctrls controls-right">

        <button class="cms-data-panel-btn expand-btn" data-type="expand"  data-property-id="{{vsid}}">
        <span class="material-symbols-outlined">more_horiz</span>
        </button>

    </div>
</div>
